<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Регистрация</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Регистрация прошла успешно!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Ошибка регистрации!</strong> Попробуйте позже.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Пользователь с введенным логином уже существует!</strong> Пожалуйста, выберите другой логин.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>Пользователь с введенной почтой уже существует!</strong> Пожалуйста, выберите другую почту.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        Пароль и его подтверждение не совпадают!
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
        <div class="form-group">
          <label class="form-control-label" for="login">Логин</label>
          <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Логин"
                 required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
          <div *ngIf="login.dirty && login.invalid">
            <small class="form-text text-danger" *ngIf="login.errors.required">
              Your username is required.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.minlength">
              Your username is required to be at least 1 character.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.maxlength">
              Your username cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.pattern">
              Your username can only contain lower-case letters and digits.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="email">Почта</label>
          <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Почта"
                 [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
          <div *ngIf="email.dirty && email.invalid">
            <small class="form-text text-danger" *ngIf="email.errors.required">
              Email должен быть указан.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.invalid">
              Email не верен.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.minlength">
              Длина email должна быть хотя-бы 5 символов.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
              Email не может быть длиннее чем 50 символов.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="password">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Пароль"
                 [(ngModel)]="registerAccount.password" minlength=6 maxlength=50 required>
          <div *ngIf="password.dirty && password.invalid">
            <small class="form-text text-danger" *ngIf="password.errors.required">
              Пароль должен быть указан.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.minlength">
              Длина пароля должна быть хотя-бы 6 символов.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.maxlength">
              Пароль не может быть длиннее чем 50 символов.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Подтвердите пароль</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Подтвердите пароль"
                 [(ngModel)]="confirmPassword" minlength=6 maxlength=50 required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
              Подтверждение пароля должно быть указано.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
              Длина подтверждения пароля должна быть хотя-бы 6 символов.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
              Подтверждение пароля не может быть больше чем 50 символов.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Зарегистрироваться</button>
      </form>
      <p></p>
    </div>
  </div>
</div>
