<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div *ngIf="checkLogin" class="content">
      <h2>Вход в систему</h2>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Вход</div>
        </div>
        <div style="padding-top:30px" class="panel-body">
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form name="form" id="loginform" class="form-horizontal" role="form" (ngSubmit)="login()">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input id="login-username" type="text" class="form-control" name="username"
                     placeholder="username" required="required" [(ngModel)]="username"/>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input id="login-password" type="password" class="form-control" name="password"
                     placeholder="password" required="required" [(ngModel)]="password"/>
            </div>
            <div style="margin-top:10px" class="form-group">
              <div class="col-sm-12 controls">
                <input type="submit" value="Войти" id="login" class="btn btn-success" required="required"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  У вас нет учетной записи!
                  <a href="#">
                    Зарегистрируйтесь
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div>{{checkLogin}}</div>
    <div *ngIf="!authenticationError && !checkLogin">
      <span>Вы вошли под пользователем {{username}}</span>
    </div>
    <div *ngIf="authenticationError">
      <span>Вы ввели неверный логин/пароль. Попробуйте ещё раз.</span>
    </div>
  </div>
</div>
